# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/front/coverage
/backend/coverage

# production
/front/build
/backend/build

# misc
./front/.DS_Store
./backend/.DS_Store
./front/.env.local
./backend/.env.local
./front/.env.development.local
./backend/.env.development.local
./front/.env.test.local
./backend/.env.test.local
./front/.env.production.local
./backend/.env.production.local

./front/npm-debug.log*
./backend/npm-debug.log*
./front/yarn-debug.log*
./backend/yarn-debug.log*
./front/.yarn-error.log*
./backend/.yarn-error.log*
